<%# <a href="https://twitter.com/intent/tweet?url=<%= full_url(current_page.path) %1>&text=<%= current_page.title %1>&via=snavage">Share on Twitter</a> %>

<%= full_url("hello") %>

<%= test %>

<%# <%= Social::test_lib %1> %>
