<div class="overview">
  <div class="overview-image">
    <%= tag :img, :src => "images/scott.jpg",
      :title => "Scott",
      :alt => "Portrait of Scott" %>
  </div>

  <div class="overview-text">
    <h1>Scott Savage</h1>
    <h2><em>Software Developer</em></h2>

    <p><strong>Technical Skills:</strong> HTML, CSS, SQL, Ruby, Sinatra, Ruby on
    Rails, JavaScript, jQuery, RSpec, R, VBA, Test Driven Development</p>

    <div class="about-social">
      <p>
      <%= partial "partials/social_links" %>
      </p>
    </div>
  </div>
</div>

<div class="recent">
<h2>Recent Portfolio Projects</h2>
  <ul>
    <% sort_projects(data.portfolio.projects)[0...5].each do |id, project| %>
      <li>
        <%= link_to project["name"],
          "/portfolio.html##{snake_case(project['name'])}" %> - 
        <span><%= project["releaseDate"].strftime('%b %e') %></span>
      </li>
    <% end %>
  </ul>
  <p><%= link_to "View All Portfolio Projects", "/portfolio.html" %></p>
</div>




<div class="recent">
  <h2>Recent Articles</h2>
  <ol>
    <% blog.articles[0...5].each do |article| %>
      <li><%= link_to article.title, article %> - 
        <span><%= article.date.strftime('%b %e') %></span>
      </li>
    <% end %>
  </ol>
  <p><%= link_to "View All Articles", "/blog.html" %></p>
</div>
