<div class="overview">
  <div class="overview-image">
    <%= tag :img, :src => "images/scott.jpg",
      :title => "Scott",
      :alt => "Portrait of Scott" %>

    <div class="about-social">
      <p>
        <%= partial "partials/social_links" %>
      </p>
    </div>
  </div>

  <div class="overview-text">
    <h1>Scott Savage</h1>
    <h2><em>Full Stack Web Developer</em></h2>

    <p>Full stack web developer with a passion for cleanly written and
    well-tested code. With experience in Ruby on Rails and JavaScript, and a
    background in finance and data analysis, I discovered programming while
    completing a Master’s in Information Systems.</p>

    <p><strong>Technical Skills:</strong> HTML, CSS, SQL, Ruby, Sinatra, Ruby on
    Rails, JavaScript, jQuery, RSpec, React, Redux, R, VBA, Test Driven
    Development</p>
  </div>
</div>

<div class="recent">
  <h2>Recent Articles</h2>
  <ol>
    <% blog.articles[0...5].each do |article| %>
      <li><%= link_to article.title, article %> - 
        <span><%= article.date.strftime('%b %e') %></span>
      </li>
    <% end %>
  </ol>
  <p><%= link_to "View All Articles", "/blog.html" %></p>
</div>

<div class="recent">
<h2>Recent Portfolio Projects</h2>
  <div class="portfolio-summary">
    <% sort_projects(data.portfolio.projects)[0...3].each do |id, project| %>
      <div class="portfolio-summary-item">
        <h2><%= project["name"] %></h2>
        <p>
          <strong>Released: </strong>
          <%= project["releaseDate"].strftime('%B %e, %Y') %>
        </p>
        <div style="background-image: url(<%= project.image.first.url %>)" >
        </div>
        <p class="more-info">
          <%= link_to "More Information",
            "/portfolio.html##{snake_case(project['name'])}" %>
        </p>
      </div>
    <% end %>
  </div>
  <p><%= link_to "View All Portfolio Projects", "/portfolio.html" %></p>
</div>
<div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</div>
