<!doctype html>
<html>
  <head>
    <%= stylesheet_link_tag "all" %>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>snsavage.com<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <div id="container">
    <header>
      <nav class="clearfix">
        <h1>snsavage.com</h1>
        <ul>
          <li class="nav-right"><%= link_to "Home", "/" %></li>
          <li class="nav-right"><%= link_to "About", "about.html" %></li>
          <li class="nav-right"><%= link_to "Contact", "contact.html" %></li>
        </ul>
      </nav>
    </header>

    <main>
      <div id="main" role="main">
        <%= yield %>
      </div>
      
      <% if current_page.path != "about.html" && current_page.path != "contact.html"  %>
      <aside>
        <h2>Recent Articles</h2>
        <ol>
          <% blog.articles[0...10].each do |article| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        </ol>

        <h2>Tags</h2>
        <ol>
          <% blog.tags.each do |tag, articles| %>
            <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
          <% end %>
        </ol>

        <h2>By Year</h2>
        <ol>
          <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
            <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
          <% end %>
        </ol>
      </aside>
    <% end %>
    </main>
    <footer>
      <div class="footer-content">
        <div class="left-footer">
          <ul>
            <li><%= link_to "Home", "/" %></li>
            <li><%= link_to "About", "about.html" %></li>
            <li><%= link_to "Contact", "contact.html" %></li>
          </ul>
        </div>
        <div class="center-footer">
          <p>Made in Penna., U.S.A.</p>
          <p id="copyright">&#169; <em>2016 Scott Savage</em></p>
        </div>
        <div class="social">
          <p>
            <a href="https://twitter.com/snsavage" target="_blank">
              <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/snsavage" target="_blank">
              <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/snsavage" target="_blank">
              <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
    </div>
  </body>
</html>
