<!doctype html>
<html>
  <head>
    <%= partial "head" %>
  </head>
  <body>
    <div id="container">
      <header>
        <%= partial "nav" %>
      </header>

      <main>
        <div id="main" role="main">
          <%= yield %>
        </div>
        <% if current_page.path != "about.html" && current_page.path != "contact.html"  %>
          <aside>
            <%= partial "aside" %>
          </aside>
        <% end %>
      </main>
      <footer>
        <%= partial "footer" %>
      </footer>
    </div>
  </body>
</html>
