<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body>
    <div id="container">
      <header>
        <%= partial "partials/nav" %>
      </header>

      <main>
        <div id="main" role="main">
          <%= yield %>
        </div>
        <% if !data.aside.exclude.include?(current_page.path) %>
          <aside>
            <%= partial "partials/aside" %>
          </aside>
        <% end %>
      </main>
      <footer>
        <%= partial "partials/footer" %>
      </footer>
    </div>
    <%= google_analytics_universal_tag %>
  </body>
</html>
