<div class="portfolio">
  <% sort_projects(data.portfolio.projects).each do |id, project| %>
    <div class="project" id="<%= snake_case(project.title) %>">
      <% if project.videos %>
        <div class="project-videos">
          <div class="video">
            <div class="video-wrapper">
              <iframe
                <%# height=<%= video.height %1> %>
                <%# width=<%= video.width %1> %>
                  src=<%= project.videos["url"] %>
                frameborder="0"
                allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      <% elsif project.image %>
        <div class="project-image">
          <%= image_tag project.image["url"],
            :title => project.image["title"],
            :alt => project.image["title"] %>
        </div>
      <% end %>

      <div class="project-description">
        <h2><%= project["title"] %></h2>
        <p>
          <strong>Released: </strong>
          <%= project["releaseDate"].strftime('%B %e, %Y') %>
        </p>
        <p><%= project["description"] %></p>

        <div class="project-links">
          <h4>Find Out More:</h4>
          <% if project.links %>
            <ul>
              <% project.links.each do |link| %>
                <li><%= link_to link.name, link.url %></li>
              <% end %>
            </ul>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>

  <% if data.portfolio.projects.count.odd? %>
    <div class="project last">
    </div>
  <% end %>
</div>
