<div class="portfolio">
  <% sort_projects(data.portfolio.project).each do |id, project| %>
    <div class="project">

      <h2><%= project["name"] %></h2>

      <% if project.image %>
        <% project.image.each do |image| %>
          <%= tag :img, :src => image.url,
            :title => image.title,
            :alt => image.title %>
        <% end %>
      <% end %>

      <div class="project-description">
        <p>Released: <%= project["releaseDate"].strftime('%B %e, %Y') %></p>
        <p><%= project["description"] %></p>

        <div class="project-links">
          <h4>Find Out More:</h4>
          <% if project.links %>
            <% project.links.each do |link| %>
              <%= link_to link.name, link.url %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if data.portfolio.project.count.odd? %>
    <div class="project last">
    </div>
  <% end %>
</div>
